{% assign event = page %}
{% include event_treated.html %}
{% include head.html %}

<style>
  main.home {
    padding: 2rem 1rem 3rem;
  }

  picture.logo {
    display: block;
    justify-self: center;

    width: 250px;
    height: 100px;

    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  div.store {
    align-items: center;
  }
</style>

<body>
  <img class="background" src="{{ site.url | append: '/backgrounds/{{ category }}.webp' }}" alt="">

  {% include header.html %}

  <main class="home">
    <div class="group">
      <div class="store">
        <a href="/{{ category }}">
          <picture class="logo">
            <img src="{{ site.url | append: '/logos/{{ game.logo }}' }}" alt="logo {{ c }}">
          </picture>
        </a>

        <h3>
          <span>
            {{ date_format }}
            {{ event.date | date: ' • %H:%M' }}
          </span>
        </h3>

        <a href="/{{ category }}">
          <p>{{ game.title }}</p>
        </a>

        {% if event.type %}
          <p>{{ event.type }}</p>
        {% endif %}
      </div>

      {% if game.restrictions %}
        <div class="store">
          <p>Regras</p>

          <a
            href="{{ game.restrictions }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <p><strong>Lista de restritas e banidas</strong></p>
          </a>
        </div>
      {% endif %}

      <div class="store">
        {% for store in stores_event reversed %}
          <a href="{{ store.url | relative_url }}">
            <h3 class="store">{{ store.title }}</h3>
          </a>

          <p class="description">{{ store.address }}</p>

          <iframe
            src="{{ store.google }}"
            title="Localização {{ page.title }}"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        {% endfor %}
      </div>
    </div>
  </main>

  {% include footer.html %}
</body>
