{% include head.html %}

<style>
  main.home {
    gap: 3rem;
    padding: 1rem 1rem 3rem;
  }

  picture.logo {
    width: 250px;
    height: 100px;

    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  div#lojas {
    margin-top: 2rem;
  }
</style>

{% assign posts = site.posts | where: 'categories', page.game %}
{% assign events = posts | where: 'layout', 'event' %}
{% assign stores = posts | where: 'layout', 'store' %}

<body>
  <img class="background" src="{{ site.url | append: '/backgrounds/{{ page.background }}.webp' }}" alt="">

  {% include header.html %}

  <main class="home">
    <div class="group">
      <picture class="logo">
        <img src="/logos/{{ page.logo }}" alt="logo {{ page.title }}">
      </picture>

      <p class="description">{{ page.description }}</p>
    </div>

    {% include next_events.html %}
    {% include list_stores.html %}
  </main>

  {% include footer.html %}
</body>
