{% include head.html %}

<style>
  main.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    padding: 1rem 1rem 3rem;
  }

  picture.logo {
    width: 250px;
    height: 100px;
    margin-bottom: -1.5rem;

    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  h1,
  h2,
  main > p {
    width: min(100%, 50rem);
  }

  h1 {
    font-size: 2.25rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;

    margin-top: 2rem;
    margin-bottom: -1rem;
  }

  main > p {
    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
  }

  main > p a,
  main > p a:visited {
    font-weight: 400;
    color: var(--color-primary-pure);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: disc;
  }

  main > ul {
    width: min(calc(100% - 1rem), 50rem);
    gap: 1.5rem;
    padding-left: 1rem;
  }

  ul ul {
    width: min(calc(100% - 2rem), 50rem);
    gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  li {
    display: list-item;
    flex-direction: row;
    align-items: flex-start;

    font-size: 1.25rem;
    font-weight: 300;
    text-align: left;
  }

  ul ul li {
    width: 100%;
  }

  li strong {
    font-weight: 700;
  }

  table {
    border-spacing: 0.5rem;
  }

  table th,
  table td {
    font-size: 1.25rem;
  }

  table th {
    font-weight: 500;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  table td {
    font-weight: 300;
  }
</style>

<body>
  <img class="background" src="{{ site.url | append: '/backgrounds/{{ page.game }}.webp' }}" alt="">

  {% include header.html %}

  <main class="home">
    <picture class="logo">
      <img src="/logos/{{ page.logo }}" alt="logo {{ page.title }}">
    </picture>

    <h1>{{ page.title }}</h1>

    {{ content }}
  </main>

  {% include footer.html %}
</body>
