{% include head.html %}
<style>
  main.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    padding: 1rem 1rem 3rem;
  }

  p.description {
    font-size: 1.25rem;
  }

  div.games {
    margin-bottom: 2rem;
  }

  img {
    width: 450px;
    max-width: 100%;
    object-fit: contain;
    aspect-ratio: 3 / 1;
  }
</style>

<body>
  <img class="background" src="{{ site.url | append: '/backgrounds/represa_rio_preto.webp' }}" alt="">

  {% include header.html %}

  <main class="home">{{ content }}</main>

  {% include footer.html %}
</body>
