{% include head.html %}

<style>
  main.store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem 1rem 3rem;
  }

  main.store > a {
    margin-top: 1.5rem;
  }

  div.group {
    margin-top: 2rem;
  }

  iframe {
    width: calc(100% - 1rem);
  }
</style>

{% assign events = site.posts | where: 'store', page.title %}

<body>
  {% assign background_image = 'digimon.webp' %}
  {% if page.background %}
    {% assign background_image = page.background %}
  {% endif %}

  <img class="background" src="{{ site.url | append: '/backgrounds/{{ background_image }}'}}" alt="">

  {% include header.html %}

  <main class="store">
    <h1>{{ page.title }}</h1>

    <p>{{ page.address }}</p>

    <a href="https://www.instagram.com/{{ page.instagram }}/" target="_blank">
      <p>Instagram</p>
      <p>
        <strong>@{{ page.instagram }}</strong>
      </p>
    </a>

    <a href="https://{{ page.website }}/" target="_blank">
      <p>Página</p>
      <p>
        <strong>{{ page.website }}</strong>
      </p>
    </a>

    {% if page.google %}
      <iframe
        src="{{ page.google }}"
        title="Localização {{ page.title }}"
        loading="lazy"
        allowfullscreen=""
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    {% endif %}
    {% include next_events.html %}
  </main>

  {% include footer.html %}
</body>
